<!DOCTYPE html>
<%- include ../partials/head %>
<html>
    <%- include ../partials/navigation %>

    <header>
        <h2 > Select Category:</h2>
    </header>

    <% subCatArr.forEach( subCat => { %>
    <form class="sub-cat-form" id="mat-sub-cat-form" action='/choose-sub-cat' method='POST'> 
        <input type="hidden" name="item" value="<%=subCat%>">
        <button type="submit" value="<%=subCat%>" >  <%=subCat%>  </button>
    </form> 
    <% }); %>
</html>