<!DOCTYPE html>
<%- include ../partials/head %>
<html>

    <header>
    </header>

<body >
    <div class="results-page">
    <div id="title">
        <h3 id="h3"> HOW TO DISPOSE: </h3>
        <h4 id="h4"> <%= destination[0] %> </h4>
    </div>
       


        <form class="result">
               
            <% for(let i = 2; i < destination.length; i++){ %>

                <section class="<%= destination[i] %>"> 
                    <p><%= destination[i].toUpperCase() %></p>
                    <input type="hidden" name="fake-data" value="hit" >
                    <% if (details.length > 0) { %>
                        <input type="submit" name="zip" value="<%= details[i-2] %>">

                    <% } else {%>
                        <input type="submit" name="zip" value="<%= destination[i] %>">

                    <% } %>
                </section>
            <% } %>
          
        </div>
        </form>
    </body>

</html>