<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

            <header>
                <h3 class="user-image">Your Results:</h3>
            </header>

            <%- include ../partials/navigation %>
            
            <!--this is the form for submit  -->
            <section class="user-image"> 
                <img  src="../data-set/<%=file%>" >
            
                <% if(itemMatches ==='No Match'){ %>
                    <form action="/location" method="POST">                        
                        <input type="hidden" name="search" value="<%=itemMatches%>">
                        <input type="submit" name="search" value="Item: <%=itemMatches%>">
                    </form>
                <% } else{ %>
                    <form action="/search-item" method="POST">                        
                        <input type="hidden" name="search" value="<%=itemMatches%>">
                        <input type="submit" name="search" value="Item: <%=itemMatches%>">
                    </form>

                <% } %>                 

               


                <form action="/location" method="POST">
                    <!-- <img src=""> -->
                    
                    <input type="hidden" name="fake-data" value="hit">
                    <input type="submit" name="zip" value="Not my item">
                </form>

            </section>
    </body>


 <script src="app.js"></script>



</html>