<!DOCTYPE html>
<html>
<%- include ../partials/head %>
    
<body>

            <header>
                <h3 class="user-image">Your Results:</h3>
            </header>

            <%- include ../partials/navigation %>
            
            <section class="user-image"> 
                <img src="<%=file%>" >
            
                <% if(itemMatches ==='No Match'){ %>
                    <form action="/show-categories" method="POST">                        
                        <input type="hidden" name="search" value="<%=itemMatches%>">
                        <input type="submit" name="search" value="Item: <%=itemMatches%>">
                    </form>
                <% } else{ %>

                <% itemMatches.forEach(match => { %>
                    <form action="/disposal-instructions" method="POST">                        
                        <input type="hidden" name="item" value="<%=match.string%>">
                        <input type="submit" name="search-result" value="Item: <%=match.string%>">
                    </form>
                <% }) %>
                  
                <% } %>                 

                <form action="/show-categories" method="POST">
                    <!-- <img src=""> -->
                    
                    <input type="hidden" name="fake-data" value="hit">
                    <input type="submit" name="zip" value="Not my item">
                </form>

            </section>
    </body>


 <script src="app.js"></script>



</html>